.mycontacthome{
      background: radial-gradient(#525252, #131313);
      width: 100%;
      position: relative;
}
.mysec{
      /* min-height: 90vh; */
      width: 80%;
      margin-left: 48px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
}
.form-control {
      display: block;
      width: 100%;
      height: calc(3.5em + .75rem + 2px);
      padding: .375rem .75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: .25rem;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
p{
      
      
      font-family: 'Shadows Into Light', cursive;

}